<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="minimum-scale=1, initial-scale=1, width=device-width"
    />
    <title>Tech task</title>
    <link rel="icon" type="image/png" href="<%=webpackConfig.output.publicPath %>favicon.png" />
  </head>
  <body>
    <div id="root"></div>
    <div id="modal-root"></div>
  </body>
</html>


